//
//  150819, Jonas Colmsjö
//
//  Good for debugging boxes:
//
//    background: rgba(113, 218, 210, 0.8);
//    background: rgba(234, 159, 195, 0.8);
//    background: rgba(250, 231, 179, 0.8);
//    background: rgb(200,200,2);
//    background: rgb(100,100,200);
//
// Notes:
//
//  * Struture adapted from smacss.com
//  * Coding guidelines: https://github.com/necolas/idiomatic-css
//

// Base rules
// ===========
//
// resets, background etc
//

@import "../bower_components/susy/sass/susy";
@import "../bower_components/breakpoint-sass/stylesheets/breakpoint";

@import "../bower_components/uikit/scss/uikit-mixins.scss";
// your custom code goes here, e.g. mixins, variables
@import "../bower_components/uikit/scss/uikit.scss";
@import "../bower_components/uikit/scss/components/autocomplete.scss";

@import "../bower_components/font-awesome/scss/font-awesome.scss";

@font-face {
    font-family: dahlia;
    src: url(../assets/Josefin-Sans/JosefinSans-Regular.ttf);
}

@font-face {
    font-family: dahlia-bold;
    src: url(../assets/Josefin-Sans/JosefinSans-Bold.ttf);
}

$susy: (
  columns: 10,
  container: 480px,
  gutters: 1/32,
  global-box-sizing: border-box,
  debug: (image: show)
);

@mixin cf {
  &:after {
    content: ' ';
    display: block;
    clear: both;
  }
}

$dahlia-black: rgb(22,52,72);
$dahlia-grey: rgb(187,189,192);
$dahlia-green1: rgb(120,174,148);
$dahlia-green2: rgb(64,124,125);

$menu-font-size: 0.7rem;
$menu-font-color: rgb(123,123,129);
$menu-bg-color: #F7F7F7;

// Layout rules
// ============
//
// `l-` prefixed, major (often ID selector) and minor (classes, sometimes
// frameworks like 960.gs)

.l-top {
  height: 5*$menu-font-size;
  background: $dahlia-green1;

  .l-content-header {
    padding-top: 2*$menu-font-size;
    height: 3*$menu-font-size;
    background: $dahlia-green1;
    @include container();
  }
}


.l-middle {
  margin-top: -5*$menu-font-size;
  margin-bottom: -5*$menu-font-size;
  height: 100vh;

  .l-content {
    padding-top: 5*$menu-font-size;
    @include container();
  }
}

.l-bottom {
  height: 5*$menu-font-size;
  background: $menu-bg-color;

  .l-menu {
    @include container();
  }

}




.l-row {
  margin-top: gutter();
  @include span(10 of 10);
  background: rgba(250, 231, 179, 0.8);
}

// Module rules
// ============
//
//  typically widgets, use class names only, sit inside layouts
//

.menu-button {
  font-family: dahlia-bold;
  height: 5*$menu-font-size;
  font-size: $menu-font-size;
  line-height: 2*$menu-font-size;
  text-align: center;

  color: $menu-font-color;
  background: $menu-bg-color;

  @include span(2 of 10);
  &:nth-child(5n) {
    @include last;
  }

  :hover {
    color: $menu-font-color;
  }

  div {
    margin-top: 0.8*$menu-font-size;
    @include span(2 of 2);
  }
}

.find-friends-label {
  @include span(3 of 4);
}

.find-friends-img {
  @include span(1 of 4 last);
}

h2 {
  width: span(4 of 4);
}

input {
  @include span(4 of 4);
  box-sizing: border-box;
  margin-bottom: gutter();
}


// State rules
// ===========
//
// `is-` prefixed, augments and overrides all other styles, used on layouts and
// modules

// Theme rules
// ===========
//
// used to customize a project, can be any primary type
